.test-class{
  display: block;
  background: #E1ECFF;
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 15px;
}

.students{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}
